h1 { 
	font-family: Marvel; 
	font-size: 39px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 39px; 
} 

body {
	background-color : #e23636;
	text-align : center;
} 

#list_of_comics {
	background-color : #F3D403;
	border : 1px solid black;
	text-align : center;
}


ul {
	padding-left : 35%;
	padding-right : 30%;
	text-align : left;
}

#csumb_logo {
	margin-top : -20px;
	margin-left : -20px;

}

footer {
	display : flex;
	justify-content: center;
}