h1{
	color : white;
}

body {
	background-color : #e23636;
	text-align : center;
} 

#list_of_comics {
	background-color : #F3D403;
	border : 1px solid black;
	text-align : center;
}


ul {
	padding-left : 35%;
	padding-right : 30%;
	text-align : left;
}